import(ggplot2, plyr, tools)
importFrom(reshape, melt, cast, recast)

exportPattern("^[^\\.k]")

S3method(print, "favir.prelatex")
S3method(print, "favir.data.frame")
S3method(`$`, "favir.environment")
S3method(with, "favir.environment")

